# testing
/coverage
/artifacts
/test-results
.eslintcache
/cypress/screenshots
/coverage

# dependencies
/node_modules
/.pnp
.pnp.js
.yalc
yalc.lock
.yarn/*

# testing

# production
build
artifacts
dist
tmp

# Environment
.env
.env.*

# Format JSON files with VSCode's default formatter
*.json

/public/mockServiceWorker.js
/.next
.docusaurus
