.rippleContainer {
  position: relative;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.ripple {
  pointer-events: none;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  transition:
    opacity 300ms ease-out,
    transform 450ms cubic-bezier(0, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);
}

.ripple.entering {
  transform: translate(-50%, -50%) scale(0);
}

.ripple.leaving {
  opacity: 0;
  transition-duration: 400ms, 450ms;
}
